# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Build
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db

# Database (Prisma/SQLite)
server/prisma/*.db
server/prisma/*.db-journal
server/prisma/migrations/

# Project Specific
server/uploads/*
!server/uploads/.gitkeep
voters_list_50.csv
update_passwords.js
server/update_passwords.js
server/voters_list_50.csv

# Vercel
.vercel

